<header>
    <div class="container">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="start center">
            <div fxFlex="9" fxFlex.xs="20">
                <span class="material-icons">
                    keyboard_backspace
                    </span>
            </div>

            <div fxFlex="80" fxFlex.xs="30">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input type="search" matInput placeholder="Search">
                    </mat-form-field>
                  </form>
            </div>

            <div fxFlex="9" fxFlex.xs="20">
                <button mat-icon-button>
                    <mat-icon>keyboard_voice</mat-icon>
                  </button>
            </div>  

            <div fxFlex="9" fxFlex.xs="20">
                    <mat-icon>cast</mat-icon>
            </div> 
            <div fxFlex="9" fxFlex.xs="20">
                <mat-icon>sort</mat-icon>
            </div>  
        </div>
    </div>
</header>
