<footer>
    <div class="container">
        <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-around center">
            <div fxFlex="9" fxFlex.xs="9">
                <span class="material-icons">
                    keyboard_backspace
                    </span>
            </div>
            <div fxFlex="9" fxFlex.xs="9">
                <button mat-icon-button>
                    <mat-icon>keyboard_voice</mat-icon>
                  </button>
            </div>  

            <div fxFlex="9" fxFlex.xs="9">
                    <mat-icon>cast</mat-icon>
            </div> 
            <div fxFlex="9" fxFlex.xs="9">
                <mat-icon>sort</mat-icon>
            </div>  
        </div>
    </div>
</footer>
